@import '../../assets/mixins';

.services{
	display: flex;
	flex-direction: column;
	gap: 80px;
	padding-left: 180px;
	padding-right: 180px;
	padding-top: 125px;
	padding-bottom: 125px;
	user-select: none;
	&__list{
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&__item{
		display: flex;
		flex-direction: column;
		gap: 40px;
		&-hrline{
			height: 0.5px;
			width: 100%;
			background-color: black;
		}
		&-content{
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: right;
			.services__text{
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
			.services__desc{
				width: 310px;
				display: flex;
				flex-direction: column;
				gap: 30px;
				.services__graphics{
					display: flex;
					flex-direction: column;
					gap: 10px;
					
					p{
						color: black;
					}
					img{
						width: 100%;
						align-self:self-end;
						height: fit-content;
						text-align: right;
					}
				}
			}
		}
		&-img{
			width: 640px;
			height: 240px;
			border-radius: 15px;
			background-position: center;
			background-size: cover;
		}
		.track{
			background-image: url('../../../public/track.webp');
		}
		.ship{
			background-image: url('../../../public/ship.webp');
		}
		.train{
			background-image: url('../../../public/train.webp');
		}
		.avia{
			background-image: url('../../../public/avia.webp');
		}
		.multi{
			background-image: url('../../../public/multimodal.webp');
		}
	}
}