@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
	font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
.element-animation {
	opacity: 0;
	transform: translateY(20px);
}
.element-animation.element-show {
	opacity: 1;
	transition: all 0.5s;
	transform: translateX(0%);
}
.svg:hover{
  path{
		fill: #005DFF;
	}
}
.svg-tg:hover{
	path{
		stroke: #005DFF;
	}
}
@media (min-width: 1200px) {
	.scale-anim{
		transition: 0.5s ease;
	}
	.scale-anim:hover{
		transform: translate(0%, 1%);
		padding-left: 15%;
		padding-right: 15%;
	}
}
.link {
  position: relative;
}
.link::after {
  position: absolute;
  content: '';
  left: 0;
  display: block;
  height: 1px;
  background: #005DFF;
	width: 0;
  transition: 0.3s;
}
.link:hover:after {
  width: 100%;
}
.link:hover{
	color: #005DFF;
}
::-webkit-scrollbar {
	width: 4px; 
	height: 8px;
	background-color: black;
}
::-webkit-scrollbar-thumb {
	border-radius: 9em;
background-color: white;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #005DFF;
}
textarea::-webkit-scrollbar {
	display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
h1{
	font-size: 52px;
	font-weight: 600;
	line-height: 1.1em;
}
h2{
	font-size: 39px;
	font-weight: 600;
}
h3{
	font-size: 32px;
	font-weight: 550;
}
h4{
	font-size: 20px;
	font-weight: 550;
}
h5{
	font-size: 18px;
	font-family: 'Inter', sans-serif;
	cursor: pointer;
	color: black;
	font-weight: 400;
}
p, a{
	font-size: 15px;
	font-weight: 500;
	color: #696969;
	text-decoration: none;
}
.menu-list a{
	color: black;
	font-size: 15px;
	font-weight: 500;
}
span{
	color: #005DFF;
}
input[type='button'], input[type='submit']{
	width: 200px;
	height: 50px;
	background-color: #005DFF;
	border-radius: 15px;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	color: white;
	border: none;
	font-weight: 300;
	cursor: pointer;
}
input[type='button']:hover, input[type='submit']:hover{
	background-color: #2374ff;
}
input[type='submit']:active{
	background-color: #0040b0;
}
input[type='text'], input[type='number'], input[type='email']{
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	padding-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	height: 18px;
	outline: none;
	background-color: transparent;
}
input[type='text']::placeholder{
	color: #696969;
}
select{
	font-size: 15px;
	border-radius: 15px;
	height: 40px;
	text-align: center;
	border: 1px solid #696969;
	font-family: 'Raleway', sans-serif;
	background-color: white;
	outline: none;
	text-align-last: center;
	text-align-last: c; 
}
textarea{
	padding: 15px 20px 0 15px;
	border-radius: 15px;
	height: 105px;
	resize: none;
	border: 1px solid #696969;
	color: #000000;
	background-color: white;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	outline: none;
}

@media (max-width: 1400px) {	
	.directions, .feedback, .footer, .main, .services, .advantages{
		padding-left: 80px;
		padding-right: 80px;
	}
	.feedback-bg1{
		left: 10vw;
	}
	.feedback-bg2{
		right: 10vw;
	}
}
@media (max-width: 1200px) {
	.main-bg1{
		left: 10vw;
	}
	.main-bg2{
		right: 10vw;
	}
	.main-bg3{
		right: 46vw;
	}
	.directions__list .directions__item img{
		width: 180px;
		height: 120px;
	}
	.advantages__list .advantages__item img{
		width: 60px;
	}
	.services__item-img{
		width: 540px;
	}
	.footer{
		flex-direction: column;
		gap: 40px;
		&__left{
			flex-direction: column;
		}
		&__right{
			flex-direction: column;
			align-items: center;
		}
	}
}
@media (max-width: 1100px) {
	.main .header__left .header__nav, .main .header__right h5, .main .header__right input{
		display: none;
	}
	.menu{
		display: block;
	}
	.directions, .feedback, .footer, .main, .services, .advantages{
		padding-left: 40px;
		padding-right: 40px;
	}
	.services__item-img{
		width: 400px;
	}
	.main .header__right{
		flex-direction: column;
		gap: 10px;
	}
	.advantages__row-one, .advantages__row-two{
		gap: 60px;
		flex-wrap: wrap;
	}
}
@media (max-width: 860px) {
	.directions__list{
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
	}
	.services__item-img{
		width: 350px;
	}
}
@media (max-width: 760px){
	.services__item-content{
		flex-direction: column;
		gap: 40px;
	}
	.services__item-img{
		width: 100%;
	}
	.services{
		text-align: center;
	}
	.services__item-content .services__desc, .feedback-title{
		text-align: center;
	}
	.main-bg1{
		width: 80px;
		left: 2vw;
	}
	.main-bg2{
		right: 2vw;
		width: 120px;
	}
	.main-bg3{
		width: 100px;
	}
	.feedback-bg1{
		left: 1vw;
	}
	.feedback-bg2{
		right: 1vw;
	}
	.modal{
		width: 80vw;
	}
}
@media (max-width: 640px) {
	.feedback__window{
		padding: 80px 90px 80px 90px;
	}
}
@media (max-width: 570px) {
	.directions-title, .advantages-title{
		text-align: center;
	}
	.main-bg1{
		top: 60vh;
	}
	.main-bg2{
		top: 40vh;
	}
	.main-bg3{
		top: 20vh;
	}
}
@media (max-width: 520px){
	h1{
		font-size: 38px;
	}
	h2{
		font-size: 32px;
	}
	h3{
		font-size: 26px;
		font-weight: 550;
	}
	h4{
		font-size: 18px;
		font-weight: 550;
	}
	h5{
		font-size: 14px;
		font-family: 'Inter', sans-serif;
		cursor: pointer;
	}
	p{
		font-size: 13px;
		font-weight: 500;
		color: #696969;
	}
	.menu-list a{
		color: black;
		font-size: 13px;
		font-weight: 500;
	}
	.main .entry__subtitle img{
		width: 300px;
		padding-top: 10px;
	}
	.main .entry{
		padding: 0;
		justify-content: center;
		height: 80%;
		gap: 40px;
	}
	.main .entry__subtitle{
		gap: 30px;
	}
	.services__item-img{
		height: 150px;
	}
}
@media (max-width:500px){
	.feedback__window{
		padding: 80px 40px 80px 40px;
	}
	.services, .advantages{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.directions{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.services, .feedback{
		gap: 40px;
	}
	.feedback{
		padding-bottom: 80px;
	}
	.footer__left .footer__nav, .footer__right .footer__contacts{
		flex-direction: column;
		align-items: center;
	}
	.services__item-img{
		width: 310px;
	}
}
@media (max-width:450px){
	.main .entry__subtitle img{
		width: 230px;
}
	.services__item-content{
		width: 260px;
		width: 100%;
	}
	.services__item{
		width: 315px;
	}
	.services__list{
		align-items: center;
	}
}
@media (max-width: 400px) {
	.feedback__window{
		padding: 80px 20px 80px 20px;
	}
}
@media (max-width: 390px) {
	h1{
		font-size: 30px;
	}
	.services__item .track{
		height: 120px;
	}
}
@media (max-width: 350px){
	.directions, .feedback, .footer, .main, .services, .advantages{
		padding-left: 0;
		padding-right: 0;
	}
	.burger{
		right: 0;
	}
	.menu-list{
		padding-right: 0;
	}
}

@media (max-height: 666px)  and (min-width: 600px){
	.main .entry__subtitle img{
		width: 300px;
	}
}
@media (max-height: 610px) and (min-width: 600px){
	.main .entry__subtitle img{
		width: 250px;
	}
}
@media (max-height: 580px) and (min-width: 600px){
	.main .entry__subtitle img{
		width: 200px;
	}
}
@media (max-height: 580px){
	.main-bg2, .main-bg3, .main-bg1{
		display: none;
	}
}

@media (max-height: 550px){
	.main .entry__subtitle img{
		width: 150px;
	}
}
@media (max-height: 517px){
	.main .entry__subtitle img{
		display: none;
	}
}
@media (max-height: 400px){
	.main .entry{
		padding-top: 10px;
		gap: 20px;
	}
	.main .entry__subtitle{
		gap: 10px;
	}
}
@media (max-height: 310px){
	.main .entry__subtitle{
		display: none;
	}
}