@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
	font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
	user-select: none;
	scroll-behavior: smooth;
}
h1{
	font-size: 52px;
	font-weight: 600;
	line-height: 1.1em;
}
h2{
	font-size: 39px;
	font-weight: 600;
}
h3{
	font-size: 32px;
	font-weight: 550;
}
h4{
	font-size: 20px;
	font-weight: 550;
}
h5{
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	cursor: pointer;
}
p{
	font-size: 13px;
	font-weight: 500;
	color: #696969;
}
span{
	color: #005DFF;
}
input[type='button'], input[type='submit']{
	width: 200px;
	height: 50px;
	background-color: #005DFF;
	border-radius: 15px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: white;
	border: none;
	font-weight: 300;
	cursor: pointer;
}
input[type='text'], input[type='number']{
	border-top: none;
	border-left: none;
	border-right: none;
	padding-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	outline: none;
	background-color: transparent;
}
input[type='text']::placeholder{
	color: #696969;
}
select{
	font-size: 13px;
	border-radius: 15px;
	height: 40px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	outline: none;
}
textarea{
	padding: 15px 20px 0 15px;
	border-radius: 15px;
	height: 105px;
	resize: none;
	color: #000000;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	outline: none;
}

@media (max-width: 1400px) {	
	.directions, .feedback, .footer, .main, .services, .advantages{
		padding-left: 80px;
		padding-right: 80px;
	}
}
@media (max-width: 1200px) {
	.directions__list .directions__item img{
		width: 180px;
		height: 120px;
	}
	.advantages__list .advantages__item img{
		width: 60px;
	}
	.services__item-img{
		width: 540px;
	}
	.footer{
		flex-direction: column;
		gap: 40px;
		&__left{
			flex-direction: column;
		}
		&__right{
			flex-direction: column;
			align-items: center;
		}
	}
}
@media (max-width: 1060px) {
	.directions, .feedback, .footer, .main, .services, .advantages{
		padding-left: 40px;
		padding-right: 40px;
	}
	.services__item-img{
		width: 400px;
	}
	.main .header__right{
		flex-direction: column;
		gap: 10px;
	}
	.advantages__row-one, .advantages__row-two{
		gap: 60px;
		flex-wrap: wrap;
	}
	// .services__item-content .services__text{
	// 	width: 310px;
	// }
	// .services__item-content{
	// 	flex-direction: column;
	// 	gap: 40px;
	// 	.services__desc{
	// 		flex-direction: row;
	// 		align-items: center;
	// 		text-align: left;
	// 		gap: 140px;
	// 		text-align: center;
	// 	}
	// }
}